<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">
    Sorry, the offer is no longer available!
  </h5>
  <img class="mx-auto" th:src="@{/images/broken_car.png}" alt="Broken car">
  <a th:href="@{/}">Go home...</a>
</div>

<div>
  <footer> </footer>
</div>

</body>
</html>